@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white antialiased;
  }
}

.glass-panel {
  @apply bg-slate-900/40 backdrop-blur-2xl border border-white/10 shadow-2xl;
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%) skewX(-12deg);
  }

  100% {
    transform: translateX(150%) skewX(-12deg);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

.animate-gradient {
  background-size: 300%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}